*{
    padding: 0px;
    margin:0px;
}
.navbar{
    height: 10%;
    background-color:#C4D7E0     ;
    border: 3px solid black;
}
.navbar-item{
    display: flex;
    justify-content: center;
    padding:  10px 30px;
    font-size: 20px;
    color: black;
    text-decoration: none;
}
body{
    background-image: url("../images/download.png");
    background-size: cover;
}
input{
    padding-top: 10px;
    margin:10px 30px;
    outline: 0;
    width:60%;
    border-width:0 0 2px;
    border-color: wheat;
    background-color: #EEF1FF;
}
.secbox{
    padding-top: 150px;
}
#pass{
    margin-left: 30px;
}
form{
    background-color: #EEF1FF;
    padding-bottom: 30px;
    width: 60%;
    border: 2px solid black;
    border-radius: 20px;
}
.mainbox{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.imgbox{
    padding: 60px 100px;
}
.buttonClass {
    font-size:15px;
    font-family:Arial;
    width:auto;
    height:auto;
    border-width:2px;
    color:#fff;
    border-color:#378de5;
    font-weight:bold;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    box-shadow: 3px 4px 0px 0px #1564ad;
    text-shadow: 0px 1px 0px #528ecc;
    background:linear-gradient(#0960a7, #378de5);
    margin-left: 30px;
    padding:10px
  }
  a{
    text-decoration: none;
    color: white;
  }
  .buttonClass:hover {
    background: linear-gradient(#378de5, #79bbff);
  }
  p{
    padding-top: 30px;
  }
.linklogin{
    color: black;
    text-decoration: underline;
}
@media only screen and (max-width:600px) {
        .navbar{
            height: 10%;
            background-color:#C4D7E0;
            border: 1px solid black;
        }
        .navbar-item{
            display: flex;
            justify-content: center;
            padding: 5px 15px;
            font-size: 15px;
        }
        .mainbox{
            display: flex;
            flex-direction: column;
            padding: 0px;
        }
        .imgbox{
            padding:0px;
            text-align: center;
        }
        img{
            width:50%;
            margin: 10% 0px;
        }
        .secbox{
            margin: 5% 5%;
            padding: 0px;
            justify-content: center;
            
        }
        form{
            width:80%;
            justify-content: center;
            margin: 5% auto;
            padding: 1%;
        }
        
}
